astroid==2.5
attrs==20.3.0
autopep8==1.5.5
flake8==3.8.4
iniconfig==1.1.1
isort==5.7.0
jedi==0.17.2
lazy-object-proxy==1.5.2
mccabe==0.6.1
packaging==20.9
parso==0.7.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.7.1
pyparsing==2.4.7
pytest==6.2.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
rope==0.18.0
selenium==3.14.0
snowballstemmer==2.1.0
toml==0.10.2
ujson==4.0.2
urllib3==1.26.3
wrapt==1.12.1
yapf==0.30.0
